div#general-alerting-banner {
  width: 100%;
  padding: 1em;
  background-color: rgb(28, 151, 55);
  font-weight: bold;
  color: whitesmoke;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
