// .view-it-info-box {
//     background-color: green;
//     color: greenyellow;
//     padding: 0.5rem;
// }

.mat-button{
    background-color: var(--sys-primary);
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    color: var(--whiteText);
}