<div class="about display-flex width-100" *ngIf="showAbout">
  <div class="about-content flex-row">
    <div class="about-text flex-column">
      <h2 class="about-text-title mat-headline-large" [innerHTML]="title"></h2>

      <div class="about-text-description" [innerHTML]="description"></div>
    </div>

    <div class="about-image flex-layout-center-center">
      <img *ngIf="isImageUrl" class="about-img" alt="" [src]="aboutImgSrc" />

      <div *ngIf="!isImageUrl" class="about-image-fallback">
        {{ aboutImgSrc }}
      </div>
    </div>
  </div>
</div>
