div#fines-alerting-banner {

    width: 100%;
    padding: 1em;
    background-color: crimson;
    font-weight: bold;
    color: whitesmoke;

    text-align: center;
    display: flex;
    justify-content: center; /* horizontaal centreren */
    align-items: center;     /* verticaal centreren */

}