<div class="record-indication-wrapper display-inline">
  @if(liriasRec){
  <div class="record-indication-cont display-inline-block">
    <mat-divider role="separator" class="mat-divider nde-divider mat-divider-vertical" [vertical]="true"></mat-divider>
    <div class="display-inline">
      <!--<span class="record-indication text-uppercase">Lirias</span>-->
      <img class="source-icon" src="https://assets.libis.be/limo/icons/sourceIcon/lirias.jpg" alt="Lirias icon" />
    </div>
  </div>
  }
</div>
